.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 5px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 90%;
  height: 300px;
  margin: 20px auto;
}
