@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  
}
body{
  overflow-x: hidden;
  
}
::-webkit-scrollbar {
  width: 0.3125rem;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.2rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.active {
  border-right: 2px solid purple;
  color: purple;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bouncing-dots {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: purple;
  border-radius: 50%;
  animation: bounce 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.poster {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.613) 6.25%,
    rgba(0, 0, 0, 0.625) 12.5%,
    rgba(0, 0, 0, 0.638) 18.75%,
    rgba(0, 0, 0, 0.65) 25%,
    rgba(0, 0, 0, 0.663) 31.25%,
    rgba(0, 0, 0, 0.675) 37.5%,
    rgba(0, 0, 0, 0.688) 43.75%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.713) 56.25%,
    rgba(0, 0, 0, 0.725) 62.5%,
    rgba(0, 0, 0, 0.738) 68.75%,
    rgba(0, 0, 0, 0.75) 75%,
    rgba(0, 0, 0, 0.763) 81.25%,
    rgba(0, 0, 0, 0.775) 87.5%,
    rgba(0, 0, 0, 0.788) 93.75%,
    rgba(0, 0, 0, 0.8)
  );
}

.grid-content{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  column-gap: 0px;
  justify-items: start;
  padding-right: 2px;
  
}


@media (max-width:1397px){
  .grid-content{
    grid-template-columns: repeat(5,1fr);
  }
 
}
@media (max-width:1180px){
  .grid-content{
    grid-template-columns: repeat(4,1fr);
  }
}


@media (max-width:1000px){
  .grid-content{
    grid-template-columns: repeat(3,1fr);
  }
 
}
 @media (max-width:800px){
  .grid-content{
    grid-template-columns: repeat(2,1fr);
    column-gap: 2px;
    
  }


}  @media (max-width:636px){
  .grid-content{
    grid-template-columns: repeat(3,1fr);
    column-gap: 2px;
    
  }
  
} 
 @media (max-width:581px){
  .grid-content{
    grid-template-columns: repeat(2,1fr);
    column-gap: 2px;
    
  }
  .hero-section{
    width: 90vw;
  }
} 



@media (max-width:780px){
  .hero-section{
    width: 75vw;
    height: 40vh;
  }
}


/* @media (max-width:470px){
  .grid-content{
    grid-template-columns: 1fr;
  }
  .side-bar{
    display: hidden;
  }
}  */

